---
import Logo from "./Logo.astro";
import { isAuthenticationEnabled } from "../server/auth";

const openCommandAttributes = { command: "show-modal", commandfor: "sidebar" } as Record<string, string>;

const currentPath = Astro.url.pathname;
const dashboardHref = "/";
const settingHref = "/setting";
const isDashboardCurrent = currentPath === dashboardHref;
const isSettingCurrent = currentPath.startsWith(settingHref);
const navLinkBaseClass = "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold";
const navLinkCurrentClass = "bg-gray-50 dark:bg-white/5 text-red-800 dark:text-white";
const navLinkDefaultClass = "text-gray-700 dark:text-gray-400 hover:text-red-800 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-white/5";
const navIconBaseClass = "size-6 shrink-0";
const navIconCurrentClass = "text-red-800 dark:text-white";
const navIconDefaultClass = "text-gray-400 group-hover:text-red-800 dark:group-hover:text-white";
const authenticationEnabled = isAuthenticationEnabled();
---

<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col dark:bg-gray-900">
    <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 dark:border-white/10 dark:bg-black/10">
        <div class="flex h-16 shrink-0 items-center">
            <div class="text-gray-800 dark:text-white">
                <Logo />
            </div>
        </div>
        <nav class="flex flex-1 flex-col">
            <ul class="flex flex-1 flex-col gap-y-7">
                <li>
                    <ul class="flex flex-1 flex-col gap-y-7">
                        <li>
                            <ul class="-mx-2 space-y-1">
                                <li>
                                    <a href={dashboardHref} class={`${navLinkBaseClass} ${isDashboardCurrent ? navLinkCurrentClass : navLinkDefaultClass}`}>
                                        <svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            data-slot="icon"
                                            aria-hidden="true"
                                            class={`${navIconBaseClass} ${isDashboardCurrent ? navIconCurrentClass : navIconDefaultClass}`}
                                        >
                                            <path
                                                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href={settingHref} class={`${navLinkBaseClass} ${isSettingCurrent ? navLinkCurrentClass : navLinkDefaultClass}`}>
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            data-slot="icon"
                                            aria-hidden="true"
                                            class={`${navIconBaseClass} ${isSettingCurrent ? navIconCurrentClass : navIconDefaultClass}`}
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z"
                                            ></path>
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                        </svg>

                                        Setting
                                    </a>
                                </li>
                                {
                                    authenticationEnabled && (
                                        <li>
                                            <form method="POST" action="/api/logout?redirect=/login">
                                                <button type="submit" class={`${navLinkBaseClass} ${navLinkDefaultClass} w-full hover:cursor-pointer`}>
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        stroke-width="1.5"
                                                        stroke="currentColor"
                                                        aria-hidden="true"
                                                        class={`${navIconBaseClass} ${navIconDefaultClass}`}
                                                    >
                                                        <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                                                        />
                                                    </svg>
                                                    Logout
                                                </button>
                                            </form>
                                        </li>
                                    )
                                }
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="-mx-6 mt-auto">
                    <a
                        href="https://burnworks.com/"
                        target="_blank"
                        class="flex items-center gap-x-4 px-6 py-3 text-sm/6 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5"
                    >
                        <img src="/img/burnworks-icon.png" alt="" class="size-8 rounded-full bg-gray-50 outline -outline-offset-1 outline-black/5 dark:bg-gray-800 dark:outline-white/10" />
                        <span class="sr-only">burnworksのサイトを開く</span>
                        <span aria-hidden="true">burnworks</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div
    class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-xs sm:px-6 lg:hidden dark:bg-gray-900 dark:shadow-none dark:after:pointer-events-none dark:after:absolute dark:after:inset-0 dark:after:border-b dark:after:border-white/10 dark:after:bg-black/10"
>
    <button type="button" {...openCommandAttributes} class="-m-2.5 p-2.5 text-gray-700 hover:text-gray-900 lg:hidden dark:text-gray-400 dark:hover:text-white">
        <span class="sr-only">メニューを開く</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round"> </path>
        </svg>
    </button>
    <div class="flex-1 text-sm/6 font-semibold text-gray-900 dark:text-white">Dashboard</div>
    {
        authenticationEnabled && (
            <form method="POST" action="/api/logout?redirect=/login">
                <button
                    type="submit"
                    class="relative -m-2.5 mr-2 flex size-9 items-center justify-center rounded-full text-gray-500 hover:text-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:text-gray-300 dark:hover:text-white"
                    aria-label="ログアウト"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-9A2.25 2.25 0 0 0 2.25 5.25v13.5A2.25 2.25 0 0 0 4.5 21h9a2.25 2.25 0 0 0 2.25-2.25V15M9 12h12m0 0-3-3m3 3-3 3"
                        />
                    </svg>
                </button>
            </form>
        )
    }
    <a href="https://burnworks.com/" target="_blank">
        <span class="sr-only">burnworksのサイトを開く</span>
        <img src="/img/burnworks-icon.png" alt="" class="size-8 rounded-full bg-gray-50 outline -outline-offset-1 outline-black/5 dark:bg-gray-800 dark:outline-white/10" />
    </a>
</div>
